body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}

@font-face {
    font-family: Barlow,
        sans-serif;

    src: url(./fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: sans-serif;

    src: url(./fonts/OpenSans-Regular.ttf);
}


.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(62, 84, 163);
    gap: 3px;
    font-weight: 500;

}

.iconBr {
    color: white;
    height: 20px;
    padding-right: 8px;
}

/* ------          -header1         ----*/





.nav-link-item {
    color: black !important;
    position: relative;
}

.nav-link-item:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.mr-auto {
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    font-family: Barlow, sans-serif;
    color: black;
}

.btn-div {
    display: flex;
    flex-direction: row;
    padding: 14px;
    align-items: center;
    background-color: black;
    height: 46px;
    border-radius: 20px;
}

.btn-g {
    background-color: transparent;
    height: 30px;
    border: none;
    outline: black;
    color: white;
    cursor: pointer;
    font: inherit;
    width: 100%;
    font-family: Barlow;
    font-size: 16px;
    font-style: italic;
    font-weight: 550;
    padding-left: 10px;
}

.btn-g:focus,
.btn-g:active {

    /* Remove the border on focus and active states */
    outline: none;
}


.c-f-h {
    border-bottom: 1px solid rgb(219, 229, 230);
}




/*  ----------------------   main3 ----------*/

/*  ----------------------   bunner1 ----------*/

.solut-row {
    background-color: rgb(255,
            255,
            255)
}


/*---------             blur            --*/
.img-col {
    position: relative;
}



.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    pointer-events: none;
}

.spacer-div {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 68px;

}

.mako-img {
    padding-top: 40px;
}

.submitted-text {
    color: rgb(255, 255, 255);
    font-family: Heebo, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 110px;
}


.React {
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    text-align: center;
}

.ax-re {
    color: rgb(255, 255, 255);
    font-family: Heebo, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.red-btn-div {
    padding-right: 90px;
    padding-left: 90px;
    position: absolute;
    bottom: 0;
}


.btn-red {
    align-items: center;
    border-radius: 6rem;
    background-color: rgb(237, 44, 73);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 1rem 1.7rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;

}

.btn-white {
    align-items: center;
    border: 0px;
    border-radius: 10rem;
    background-color: rgb(255, 255, 255);
    color: rgb(28, 32, 34);
    cursor: pointer;
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 1.2rem 1.9rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 150ms ease 0s, color 150ms ease 0s;
}

.btn-sm1 {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 10rem;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: Barlow, sans-serif;
    font-style: italic;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 0.95rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 150ms ease 0s, color 150ms ease 0s;
}

.btn-sm2 {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 10rem;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: Barlow, sans-serif;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 0.9rem 2.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 150ms ease 0s, color 150ms ease 0s;
}


.makogit span {
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 8px;
}

.makogit :nth-child(2) {
    color: rgb(214, 214, 214);
    font-family: Heebo, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

.solution-div {
    padding-right: 14px;
    padding-left: 14px;
    border-left: 1px solid rgb(219, 229, 230);
    border-right: 1px solid rgb(219, 229, 230);
    padding-bottom: 16px;
    padding-top: 12px;
}

.solution-span {
    font-family: Barlow, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;

    text-transform: uppercase;
}

.img-col {
    background-image: url('../images/main-img1.png');


    background-size: cover;


    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* Set the height as needed */
}



/*  ----------------------   bunner little ----------*/

.text-this {
    color: rgb(115, 115, 115);
    font-family: Barlow, sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 1.5;
    margin: 0px;
}

.rest {
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: rgb(28, 32, 34);
}

.html li {
    display: inline-block;
    list-style: none;
    padding-right: 8px;
    padding-left: 0;
    font-family: Barlow, sans-serif;
    font-weight: 700;
    margin: 0px;
}

.html :nth-child(1) {
    color: rgb(106, 190, 205);

}

.html :nth-child(2) {
    color: rgb(62, 84, 163);
}

.html :nth-child(3) {
    color: rgb(207, 99, 144);
}

.html :nth-child(4) {
    color: rgb(170, 215, 66);
}

.advanced-4 {
    border: 1px solid rgb(244, 137, 37);
    border-radius: 0.4rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 22px;
}

.number-4 {
    background-color: rgb(244, 137, 37);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    padding: 0px 10px;

}

.advanced {
    background-color: transparent;
    color: rgb(244, 137, 37);
    font-family: Barlow, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 8px;
    margin: 0px;
    text-transform: uppercase;
}

.btn-chall-div {
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 10rem;
    background-color: rgb(62, 84, 163);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 150ms ease 0s, color 150ms ease 0s;

}

/*  -----------------         flags   --------------*/

.Design {
    font-family: Heebo, sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
}




/*  ----------------------   bunner1 ----------*/

.ccc {
    background-color: rgb(250,
            250,
            250)
}

.mako {
    font-size: 17px;
    font-family: Heebo, sans-serif;
    font-weight: 620;
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 36px;
    padding-top: 40px;
}


.mm3 {
    background-color: #f0f4f4;
    width: 50%;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.please {
    background-color: #f0f4f4;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.pl-h3 {
    font-family: Barlow, sans-serif;
    margin: 0px;
    text-align: center;

}

/*  -----------------------------*/
.blue {
    padding-top: 80px;
    overflow: initial;
    position: relative;
    width: 100%;
    background-color: rgb(62, 84, 163);
    border: none;
    border-radius: 10px;

}

.text-import {
    color: rgb(255, 255, 255);
    font-family: Heebo, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 30px;
}

.text-join {
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-family: Heebo, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    text-align: center;
    font-size: 26px;
}

.btn-discord {
    align-items: center;
    border-radius: 10rem;
    background-color: rgb(255, 255, 255);
    color: rgb(62, 84, 163);
    cursor: pointer;
    font-family: Barlow, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.01rem;
    line-height: 0.7;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    border: none;

}

.btnd-div {
    padding-bottom: 90px;
}


.circle {
    top: 5%;
    z-index: 3;
    left: 48%;

    position: absolute;
    align-items: center;
    background-color: rgb(62, 84, 163);
    border-radius: 50%;
    display: flex;
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 4.6rem;
    justify-content: center;
    width: 4.6rem;
}

.span-q {
    color: white;
    font-weight: 600;
    font-size: 28px;
}

.circle-gray {
    padding-left: 8px;
    padding-top: 1px;
    top: -20%;
    z-index: 3;
    left: 48%;
    position: absolute;
    align-items: center;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
    display: flex;
    font-family: Barlow, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 4.6rem;
    justify-content: center;
    width: 4.6rem;
}






/*-------       footer          ------*/


.imgsoc-div {
    display: flex;
    justify-content: flex-end;
}

footer {
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
}

.blue-text {
    color: rgb(62, 84, 163);
    font-family: Barlow, sans-serif;
    font: inherit;
    font-size: 26px;
    font-weight: 450;
}

.btn-subscribe {
    background-color: rgb(237, 44, 73);
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10rem;
    border: none;
    font-size: 14px;
    font-style: italic;
    font-weight: 550;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 0.9rem 0.9rem;
}

.email {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 22px;
    border: 1px solid rgb(219, 229, 230);
    color: rgb(28, 32, 34);
    font-family: Heebo, sans-serif;
}

.FrMentor {
    color: rgb(28, 32, 34);
    font-size: 18px;
    font-family: Heebo, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.frontM {
    color: rgb(115, 115, 115);
}

.ul-f {
    list-style: none;
    color: rgb(28, 32, 34);
}


.ul-foot li {
    list-style: none;
    display: inline-block;
    color: rgb(115, 115, 115);
}

.r-ff {
    border-top: 1px solid rgb(219, 229, 230);
}